<%- include ('../partials/auth-top') %>

<div class="row text-white banner clearfix">
  <div class="col-md-8 py-4 content">
    <h2 class="display-4" style="width: 60%;"><%= appname %></h2>
    <p class="lead my-4"><span class="pr-4">---</span>Project By <%= owner_name %></p>
  </div>
  <div class="col-md-4 py-4 content">
    <h1 class="display-3">Reset Password</h1>
    <hr class="mb-2" />
    <% if (success_msg) { %>
    <div class="bg-success py-2 text-white"><p><%= success_msg %></p></div>
    <% } %>
    <% if (error_msg) { %>
    <div class="bg-danger py-2 text-white"><p><%= error_msg %></p></div>
    <% } %>
    <form action='<% "/patient/reset_password/" + <%= patient._id %> %>' method="POST">
      <div class="form-group">
        <label class="d-inline-block">Patient Registration Number:</label>
        <input disabled class="d-block form-control" value='<%= patient.reg_no %>' >
      </div>
      <div class="form-group">
        <label class="d-inline-block">Name:</label>
        <input disabled class="d-block form-control" value='<%= patient.surname + " " + patient.other_names %>'>
      </div>
      <div class="form-group">
        <label class="d-inline-block">New Password:</label>
        <input type="password" class="d-block form-control" required="required" name="password">
      </div>
      <div class="form-group">
        <label class="d-inline-block">Retype Password:</label>
        <input type="password" class="d-block form-control" required="required" name="retype_password">
      </div>
      <div class="form-group mx-auto mt-2">
        <input type="submit" class="btn btn-info" value="Proceed To Reset">
      </div>
    </form>
  </div>

  <%- include ('../partials/auth-bottom') %>